{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php:\/\/stderr",
        "stryker": {
            "report": "master"
        }
    },
    "mutators": {
        "@default": true,
        "LogicalAndAllSubExprNegation": {
            "ignore": [
                "Yiisoft\\Data\\Paginator\\KeysetPaginator::isOnFirstPage"
            ]
        },
        "IncrementInteger": {
            "ignore": [
                "Yiisoft\\Data\\Paginator\\OffsetPaginator::readOne"
            ]
        },
        "DecrementInteger": {
            "ignore": [
                "Yiisoft\\Data\\Paginator\\OffsetPaginator::readOne"
            ]
        },
        "GreaterThan": {
            "ignoreSourceCodeByRegex": [
                ".*if \\(\\$dataReaderLimit !== null && \\$this->getOffset\\(\\) \\+ \\$this->pageSize > \\$dataReaderLimit\\) \\{.*",
                ".*if \\(\\$dataReaderLimit !== null && \\$count > \\$dataReaderLimit\\) \\{.*"
            ]
        }
    }
}
